.reviewList {
    list-style: none;
    margin: auto;
    width:80%;
    float: left;
    min-height: 150vh;
    background-color: #faebd7;
}

.cafeList {
    list-style: none;
}

.friendList {
    margin: auto;
    list-style: none;
    min-height: 150vh;
    width:20%;
    float: right;
    background-color: #faebd7;
    /* position: fixed; */
}

.listHeader {
    padding: 5px;
    text-align: center;
    font-size: 28px;
}
