.reviewList {
    list-style: none;
    margin: auto;
    float: left;
    min-height: 150vh;
    background-color: #faebd7;
}

.cafeList {
    list-style: none;
}

.friendList {
    list-style: none;
    min-height: 150vh;
    width: 100%;
    float: left;
    background-color: #faebd7;
}

.listHeader {
    padding: 5px;
    text-align: center;
    font-size: 28px;
}

.userReviews {
    padding-left: 0px;
}

.mapReviews {
    font-size: 12px;
}
