.row {
    justify-content: center;
    margin-bottom: 10px;
}

.row-login {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.loginBtn {
    width: 200px;
    border-radius: 8px;
    margin: 10px;
    background: white;
    border: 2px solid black;
    padding: 0px;

}

.createA {
    font-size: 16px;
    font-weight: bold;
}


label {
    margin-right: 10px;
}

.login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border: 10px solid #DC9287;
}

.appLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background: #C1EAB1;
}

#invalidUser {
    color: red;
    font-weight: bold;
}




