.friendCard {
    display: flex;
    flex-direction: column;
    color: rgb(77, 49, 13);
    width: 100%;
}

.friend{
    width: 90%;
    max-height: 40vh;
    border: 10px;
    background-color: white;
    border-radius: 19px;
    padding: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10;
    border: 3px solid#c2887f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.friendName{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-transform: uppercase;
    
}



.friendButton {
    background-color: rgb(189, 201, 209);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    width: 20%;
    float: right
  }