.body {
   background-color: #faebd7;
}

.addFriendbutton {
   height: 34px;
   width: 23%;
   margin-left: 35%;
   font-size: 12px;
 }

 .fListHeader{
   /* text-align: center;
   background-color: #faebd7;
   font-size: 28px;
   width: 100%;
   margin: auto;
   /* padding-left: 25px; */
   font-size: 50px;
  font-weight: 600;
  background-image: linear-gradient(to left, #895c2be6, #eb9a9a);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  width: 100%;
  margin: auto;
  padding-left: 26%;
}

.feedFriends {
   width: 20%;
   float: right;
   background-color: #faebd7;
}

.feedReviews {
   width: 80%;
   float: left;
   background-color: #faebd7;
}

/* CSS */
.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #e3d8d4, #2c9fec 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: 40%;
  margin-left: 27%;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}