

 .reviewFormWrapper {
    height: 100vh; 
    background-image: url("./test.png");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh;
 }

 .inputForm {
    background-color: white;  
 }

 #inputReviewText {
    padding: 10px;
    margin-top: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border-color: lightgray;
    color: brown;
    
  }

  #inputCoffeeShopName {
   background-color: #FFFFFF;
   border-radius: 10px;
   flex-grow: 1;
   width: 100%;
   margin-bottom: 20px;
   color: brown;
   
 }
 #inputCoffeeShopAddress {
   background-color: #FFFFFF;
   border-radius: 10px;
   flex-grow: 1;
   width: 100%;
   color: brown;
   
 }

 #reviewTextLabel {
    display: inline-block;
 }

  .labelForm {
      height: 80%;
      display: flex;
      flex-direction: column;

  }

  .coffeeShopSearchForm {
     display: flex;
     flex-direction: column;
     width: 50%;
     margin-left: 10px;
  }


 


 #reviewForm {
     background-color: #faebd7;
     display: flex;
     flex-direction: column;
     height: 80%;
     width: 50%;
     padding: 10px;
     margin: 10px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border-radius: 10px;
 }

 .formButtons {
    padding: 3vh;
    display: flex;
    align-items: center;
    width: 50%;

 }

 #buttonForm {
     border-radius: 10px;
     flex-direction: row;
     background-color: #C1EAB1;
     color: rgb(71, 30, 3);
     border-style: none;
     box-sizing: border-box;
     cursor: pointer;
     display: inline-block;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 14px;
     font-weight: 500;
     height: 40px;
     line-height: 20px;
     list-style: none;
     margin: 0;
     outline: none;
     padding: 10px 16px;
     margin: 20px;
     text-align: center;
     text-decoration: none;
     transition: color 100ms;
     vertical-align: baseline;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;

 }
