.wrapper {
    position: relative;
}
   
.reviews {
    background: var(--background-color);
    /* flex-basis: 50vh; */
    padding: 25px;
    z-index: 1;
    position: relative;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
    float: right;
    border-color: var(--hover-color);
    position: relative;
    z-index: -1;
}


.search {
    text-align: center;
    margin-left: 10px;
}

.scrollBar {
    height:120px;
    overflow:scroll;
    overflow-x:hidden;
}

:root {
    --primary-color: #C1EAB1;
    --secondary-color: #DC9287;
    --hover-color: rgb(175, 121, 49);
    --background-color: #faebd7;
    --accent-color: rgb(77, 49, 13);
  }